.piano-key {
  display: inline-block;
}

.piano-key.white {
  border: 1px solid black;
  background-color: white;
  width: 50px;
  height: 300px;
}

.piano-key.black {
  border: 1px solid white;
  background-color: black;
  width: 30px;
  height: 200px;
  position: absolute;
  margin-left: -15px;
}
