$white-key-height: 300px
$white-key-width: 50px
$note-name-padding: 30px

$black-key-width: $white-key-width * 0.6
$black-key-height: $white-key-height * 0.6

$white-key-color: white
$black-key-color: black
$dimmed-white-color: darken(#cecece, 15%)
$dimmed-black-color: lighten(black, 50%)

$note-name-font-size: 6px

.piano-key

  display: inline-block
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  .note-name
    font-size: $note-name-font-size
    position: absolute

  &.white
    border: 1px solid black
    border-right: none
    background-color: $dimmed-white-color
    width: $white-key-width
    height: $white-key-height

    &.white:last-child
      border-right: 1px solid black

    .note-name
      color: lighten(black, 20%)
      top: $white-key-height - $note-name-padding
      margin-left: $white-key-width / 2

    &.scale
      background-color: $white-key-color


  &.black
    border: 1px solid black
    background-color: $dimmed-black-color
    width: $black-key-width
    height: $black-key-height
    position: absolute
    margin-left: -($black-key-width / 2)
    z-index: 23

    .note-name
      color: darken(white, 20%)
      top: $black-key-height - $note-name-padding

    &.scale
      background-color: $black-key-color


  &:hover
    background-color: lighten(grey, 10%)

  &.selected
    border-color: red
    border-width: 3px
    border-right: 3px solid red

